<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>64779499917-45m5r7c0gpc32bjg81ojgfqen5ahpg6j.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.64779499917-45m5r7c0gpc32bjg81ojgfqen5ahpg6j</string>
	<key>API_KEY</key>
	<string>AIzaSyDFKVmZTovdCMvwvjxx5NUta6mXd-eK9-4</string>
	<key>GCM_SENDER_ID</key>
	<string>64779499917</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.suzukiJoe.Flex</string>
	<key>PROJECT_ID</key>
	<string>timetracker-f3735</string>
	<key>STORAGE_BUCKET</key>
	<string>timetracker-f3735.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:64779499917:ios:836b4de9632a9689</string>
	<key>DATABASE_URL</key>
	<string>https://timetracker-f3735.firebaseio.com</string>
</dict>
</plist>